.App {
  text-align: left;
  padding-left: 50px;
}

.App-hotl {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-hotl {
    animation: App-hotl-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-hotl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn_warning{
    background: green;  
    width:7%;
    padding: 10px;
    
}

.btn_info{
  background: orange;
  width: 10%;
  padding: 10px;

}